##### Deny all #####
*

###### Rust ########
!**/Cargo.toml
!**/Cargo.lock
!**/src
!**/src/**/*.rs

###### Tauri #######
!src/ui/pnpm-lock.yaml
!src/ui/**/
!src/ui/**/*.css
!src/ui/**/*.js
!src/ui/**/*.html
!src/ui/**/*.json
# LFS/Assets
!src/ui/**/*.png
!src/ui/**/*.svg
!src/ui/**/*.ico
!src/ui/**/*.icns

##### Linters ######
# Commits
!.czrc
!commitlint.config.mjs
# Markdown
!.markdownlint.yaml
!.markdownlint-cli2.yaml
!.markdown-link-check.json
# Spelling
!.cspell.json
# Rust
!.clippy.toml
!.rustfmt.toml

## Documentation ###
!docs
!docs/**/
!docs/**/*.md
!README.md

##### Branding #####
!branding
!branding/*.svg
!branding/*.png

#### Workspace #####
!.gitignore
!.gitattributes
!mise.toml

##### Pipeline #####
!.github
!.mise
!.lefthook.yml
!renovate.json

######## AI ########
!.windsurfrules

##### Modules ######
!lib
!os
!ui
!cli

# Explicit Ignores #
src/ui/src-tauri/gen/schemas