# Deny all
*
!*/

# Allowed files

## Git
!.gitignore
!.gitattributes

## Package management
!pixi.toml
!pixi.lock
!package.json
!pnpm-lock.yaml

## Workspace config
!lefthook.yml
!renovate.json

## Linter configs
!.mega-linter.yml
!.cspell.json
!.markdownlint-cli2.yaml
!.jscpd.json

## Pipeline config
!.azure/pipelines/azure-pipelines.yml

## Documentation
!docs/
!README.md
!CONTRIBUTING.md
!LICENSE

## Branding
!branding/*.svg
!branding/*.png

## Rust
!Cargo.toml

# Explicitly ignored local files
.history
.pixi
node_modules
