# Allowed

## vscode
!.vscode
!.vscode/extensions.json

## src
!src
!src/assets/*.svg
!src/**/*.html
!src/**/*.js
!src/**/*.css

## src tauri
!src-tauri
!src-tauri/build.rs
!src-tauri/tauri.conf.json
!src-tauri/capabilities/*.json
!src-tauri/icons/*.png
!src-tauri/icons/*.ico
!src-tauri/icons/*.icns
!src-tauri/src/**/*.rs

## pnpm

!pnpm-lock.yaml
!package.json