# Allow gitignore
!.gitignore

# Allow rust files
!Cargo.toml
!**/*.rs

# Allow vscode recommended extensions
!**/.vscode/extensions.json

# Allow tauri files
!src-tauri/tauri.conf.json
!**/*.html
!**/*.js
!**/*.css
!**/*.svg
!**/*.png
!**/*.ico
!**/*.icns